body {
  /* background-color: black; */
  text-align: center;
  font-family: bodoni;
}

header {
  /* background-color: aqua; */
}

.storyPage {
  min-height: 800px;
  background-image: url("../assets/variousTVHC.png");
  /* background-color: aqua; */
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;  

}

.storyTextBox {
  display: flex;
  max-width: 50%;
  background-color: white;
  border-radius: 10px;
  padding:20px;
  
}

.bodyText {
  column-count: 2;
  column-gap: 40px;
  color: black;
  font-style: italic;
}

main {
  background-color: lightslategray;
}

footer {
  /* background-color: pink; */
  color: rgb(41, 100, 148);
  margin: 10px;
}

@font-face {
  font-family: bodoni;
  src: url("../assets/bodoni.ttf");
}

h1 {
  /* background-color: red; */
  margin: 15px;
  font-family: bodoni;
  text-transform: uppercase;
}

h2 {
  margin: 0%;
  color: rgb(41, 100, 148);
}

h3 {
  margin: 0%;
  color: royalblue;
}

p {
  /* background-color: azure; */
  color: black;
  font-style: italic;
  margin: 2px;
  
}

small {
  color: black;
}

.flexContainer {
  background-image: url("../assets/TVHC background.jpg");
  background-color: yellow;
  display: flex;
  margin: 10px auto;
  min-height: 100%;
  justify-content: space-around;
}

.gameContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  flex-wrap: wrap;
  padding: 5px;
  margin: 15px;
  justify-content: center;
  /* flex-basis: 60%; */
  border-radius: 10px;

}

.grid{
  /* background-image: url("../assets/various\ leaves\ etc.png");
  opacity: 0.1;
  filter: alpha(opacity=50); */
  background-size: 100%;
  background-color: lightblue;
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  border-radius: 10px;
}

.grid div {
  /* background-image: radial-gradient(red, yellow); */
  height: 5%;
  width: 5%;
}
.snake {
  background-color: darkgreen;
  /* background for head
  background-color: #da0048; */
  border-radius: 20px;
}

.snakeHead {
  background-color: crimson;
  border-radius: 20px;
}

.food {
  background-size: 60%;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.rightSide {
  flex-basis: 40%;
}

.buttonsContainer {
  /* background-color: white;   */
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 310px;
  height: 30px; 
  /* padding: 5px; */
  margin: 15px;
  border-radius: 10px;
  border: none;
  border-width: 10px;
}

button {
  background-color: royalblue;
  /* border: none; */
  border-radius: 10px;
  border: none;
  color: white;
  /* padding: 5 %; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 45%;
  height: 100%; 
}

.statsContainer {
  
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 100px;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  border: lightblue;
  border-width: 10px;
}

/* TIME */
.countdownTimer {
  background-color: lightblue;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.timeRemaining {
  background-color: tomato;
  width: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius : 10px;
  
}

/* SCORE */
.scoreBar {
  background-color: lightblue;
  width: 100%;
  height: 17%;
  border-radius: 10px;
}

.userScore {
  background-color: tomato;
  width: 0%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

/* DESCRIPTION */
.descriptionContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  max-height: 400px;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  border: lightblue;
  border-width: thin;
}

.fruitMunchables {
  padding: 5%;
}
