body {
  text-align: center;
  font-family: bodoni;
}

.TVHCbanner {
  height: 100vh;
}

.storyPage {
  height: 100vh;
  background-image: url("../assets/variousTVHC.png");
  background-size: 100%;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.storyTextBox {
  display: flex;
  width: 70vw;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding:20px;
}

.bodyText {
  column-count: 2;
  column-gap: 2vw;
  color: black;
  font-style: italic;
  font-size: 2vw;
  margin: 2px;
}

main {
  background-color: white;
  height: 97vh;
}

footer {
  color: rgb(41, 100, 148);
  margin: 0;
  height: 3vh;
}

@font-face {
  font-family: bodoni;
  src: url("../assets/bodoni.ttf");
}

h1 {
  margin: 15px;
  font-family: bodoni;
  text-transform: uppercase;
}

h2 {
  margin: 0%;
  color: rgb(41, 100, 148);
  color: royalblue;
}

p {
  color: black;
  font-style: italic;
  font-size: 1vw;
  margin: 2px;
  
}

small {
  color: black;
  font-size: 2vh;
}

.flexContainer {
  background-image: url("../assets/TVHC background.jpg");
  background-color: yellow;
  display: flex;
  margin: 10px auto;
  min-height: 96vh;
  justify-content: space-around;
}

.gameContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 900px;
  flex-wrap: wrap;
  padding: 5px;
  margin: 20px;
  justify-content: center;
  border-radius: 10px;
}

.grid{
  background-size: 100%;
  background-color: lightblue;
  width: 900px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.grid div {
  height: 5%;
  width: 5%;
}

.snake {
  background-color: darkgreen;
  border-radius: 20px;
}

.snakeDead {
  background-color: crimson;
  border-radius: 20px;
}

.food {
  background-size: 65%;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.rightSide {
  flex-basis: 40%;
}

.buttonsContainer {
  background-color: white;  
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 400px;
  height: 50px; 
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  border-width: 10px;
}

button {
  background-color: royalblue;
  /* border: none; */
  border-radius: 10px;
  border: none;
  color: white;
  margin: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 45%;
  height: 70%; 
}

.statsContainer {
  
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 100px;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  border: lightblue;
  border-width: 10px;
}

/* TIME */
.countdownTimer {
  background-color: lightblue;
  width: 100%;
  height: 17%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.timeRemaining {
  background-color: tomato;
  width: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius : 10px;
  
}

.scoreBar {
  background-color: lightblue;
  width: 100%;
  height: 17%;
  border-radius: 10px;
}

.userScore {
  background-color: tomato;
  width: 0%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

#scoreDisplay {
  padding: 10px;
}

/* DESCRIPTION */
.descriptionContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  max-height: 800px;
  padding: 2px;
  margin: 20px;
  border-radius: 10px;
  border: lightblue;
  border-width: thin;
}

.fruitMunchables {
  padding: 5%;
}
