body {
  background-color: black;
  text-align: center;
  
}

header {
  background-color: aqua;
}

main {
  background-color: lightslategray;
}

footer {
  background-color: pink;
}

h1 {
  background-color: red;
}

h2 {
  background-color: cornflowerblue;
  margin: 0%; 
  
}

h3 {
  background-color: coral;
}

p {
  background-color: azure;
}

.flexContainer {
  background-color: yellow;
  display: flex;
  margin: 10px auto;
  min-height: 100%;
  justify-content: space-around;
}

.gameContainer {
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  padding: 15px;
  margin: 10px;
  justify-content: center;
  flex-basis: 60%;
  border-radius: 10px;

}

.grid{
  background-color: lightskyblue;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  border-radius: 10px;
}

.grid div {
  /* background-image: radial-gradient(red, yellow); */
  height: 5%;
  width: 5%;
}
.snake {
  background-color: greenyellow;
  border-radius: 20px;
}

.food {
  background-color: blue;
  border-radius: 30 px;
  /* background-image: url(assets/watermelon.png); */
  /* background-image: url(/Users/soph/development/PROJECTS/project-01/assets/watermelon.png); */
  /* background-image: url(https://pngriver.com/top-36-watermelon-png-transparent-images-1641/watermelon-transparent-png-images-free-download-watermelon_png2646/); */
  /* background-clip: \01F349; */
  /* background-clip: 🍉; */
}

.rightSide {
  background-color: orangered;
  flex-basis: 40%;
}

.statsContainer {
  background-color: darkmagenta;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

/* TIME */
.countdownTimer {
  background-color: deeppink;
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.timeRemaining {
  background-color: chocolate;
  width: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius : 10px;
}

/* SCORE */
.scoreBar {
  background-color: indigo;
  width: 100%;
  height: 12%;
  border-radius: 10px; 
}

.userScore {
  background-color: greenyellow;
  width: 0%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

/* DESCRIPTION */
.descriptionContainer {
  background-color: rgb(57, 37, 167);
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}
