body {
  /* background-color: black; */
  text-align: center;
  font-family: bodoni;
  font-weight: lightest;
  
}

header {
  /* background-color: aqua; */
}

main {
  background-color: lightslategray;
}

footer {
  /* background-color: pink; */
  color: rgb(41, 100, 148);
  margin: 10px;
}

@font-face {
  font-family: bodoni;
  src: url("../assets/bodoni.ttf");
}

h1 {
  /* background-color: red; */
  margin: 15px;
  font-family: bodoni;
}

/* h1::before  {
  content: "🍔";
} */

h2 {
  /* background-color: cornflowerblue; */
  margin: 0%;
  color: rgb(41, 100, 148);
}

h3 {

  color: rgb(41, 100, 148);
}

p {
  /* background-color: azure; */
  color: rgb(41, 100, 148);
}

.flexContainer {
  background-image: url("../assets/TVHC background.jpg");
  background-color: yellow;
  display: flex;
  margin: 10px auto;
  min-height: 100%;
  justify-content: space-around;
}

.gameContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 550px;
  flex-wrap: wrap;
  padding: 5px;
  margin: 15px;
  justify-content: center;
  /* flex-basis: 60%; */
  border-radius: 10px;

}

.grid{
  background-image: url("../assets/various\ leaves\ etc.png");
  background-size: 100%;
  background-color: lightblue;
  width: 550px;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  border-radius: 10px;
}

.grid div {
  /* background-image: radial-gradient(red, yellow); */
  height: 5%;
  width: 5%;
}
.snake {
  background-color: darkgreen;
  /* background for head
  background-color: #da0048; */
  border-radius: 20px;
}

.food {
  background-size: 60%;
  background-position-x: 0px;
  background-position-y: 0px;
  background-repeat: no-repeat;
}

.rightSide {
  /* background-image: url("../assets/TVHC background.jpg");
  background-color: orangered; */
  flex-basis: 40%;
}

.statsContainer {
  
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  border: white;
  border-width: 10px;
}

/* TIME */
.countdownTimer {
  background-color: white;
  width: 100%;
  height: 12%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 0.75%;
}

.timeRemaining {
  background-color: tomato;
  width: 0%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius : 10px;
  
}

/* SCORE */
.scoreBar {
  background-color: white;
  width: 100%;
  height: 12%;
  border-radius: 10px;
  padding: 0.75%; 
}

.userScore {
  background-color: tomato;
  width: 0%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
}

/* DESCRIPTION */
.descriptionContainer {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 42  0px;
  padding: 5px;
  margin: 15px;
  border-radius: 10px;
  border: white;
  border-width: thin;
}

.fruitMunchables {
  padding: 5%;
}
